section h1 {
  color: var(--color-font-primary);
  font-size: 48px;
  font-weight: 700;
  margin-top: 27px;
}

section h2 {
    color: var(--color-font-grey-1);
    font-size: 24px;
    font-weight: 700;
}

body {
  background-color: var(--color-bg-primary);
}