.sc-container {
    width: 1251px;
    height: 270px;
    background-color: var(--color-bg-searchCard);
    border-radius: 16px;
    margin-top: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 54px;
}

.sc-container h2 {
color: var(--color-font-tertiary);
font-size: 38px;
font-weight: 500;
}

.sc-content-box {
    width: 298px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--color-border-grey-1);
    background-color: var(--color-bg-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 12px;
}

.sc-content-box input {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-font-grey-2);
    margin: 8px 17px;
    border: unset;
}